*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/target
target
.gradle
build
.github/workflows/maven.yml
git_push.sh
gradle.properties
.openapi-generator/*
pom.xml
.openapi-generator/*
api/openapi.yaml
build.sbt
.travis.yml
src/main/AndroidManifest.xml
README.md
.openapi-generator-ignore
